{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center flex-column align-items-center my-5">
        <h1>Регистрация</h1>

        <div class="reg-form w-50">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Пароль'
            }) }}
            {{ form_row(registrationForm.agreeTerms, {
                label: 'Согласен с правилами'
            })  }}

            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            {{ form_end(registrationForm) }}
        </div>

    </div>

{% endblock %}
